@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.app-container {
  display: flex;
  justify-content: space-around;
}

.arbol-container {
  display: flex;
  justify-content: center;
}

.esfera-container {
  display: flex;
  justify-content: center;
}


.pointer {
  cursor: url("../../assets/esfera-pointer32.png"), auto;
}
