html {
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
